{% extends 'base.html' %}

{% block content %}

<style>
    .main-page {
        padding: 50px 100px;
        border: 2px solid #ff7f50;
        border-radius: 25px;
        background-color: #403133;
    }

    .main-page h1 {
        color: #ecc9c7;
        text-align: center;
    }

    .main-page h3, h4 {
        color: #ecc9c7;
        text-align: center;
    }

    .main-page__list {
        list-style-type: circle;
        padding: 20px;
        border: 1px solid #ecc9c7;
        border-radius: 10px;
        background-color: #393133;
    }

    .main-page__li {
        margin-left: 30px;
        max-width: 700px;
        color: #ecc9c7;
    }

    .just-a-p{
        max-width: 730px;
        margin: 30px auto;
        padding: 30px;
        border: 1px solid #ecc9c7;
        border-radius: 10px;
        background-color: #393133;
        color: #ecc9c7;
    }

    .main-page__li-meta {
        margin: 0 0 10px 40px;
        display: block;
    }
</style>

<div class="main-page">
    <h1 style="color: #ff7f50;">About Simple Mail</h1>
    <p>
        <h3>The name of this web application speaks for itself meaning</h3>
        <h4 style="font-size: 18px;">This is a very simple service that is something between mail and social medias</h4>
        <hr style="width: 60%; color: #ecc9c7; margin: 30px auto 50px;">

        <ul class="main-page__list">
            <h4 style="color: #ff7f50;">There are common rules and actions you can do:</h4>
            <li class="main-page__li">
                At first you have to register your account <a href="{% url 'signup' %}">here</a>
                <small class="main-page__li-meta">
                    Otherwise you can't do anything, even visit users profiles.
                </small>
            </li>
            <li class="main-page__li">
                Send, receive, delete and sort mails:
                <small class="main-page__li-meta">
                    When you delete mail, it is being deleted only from your account.<br>
                    Sorting mails displays matches in usernames(users you are chatting with) and titles.
                </small>
            </li>
            <li class="main-page__li">
                Set your profile data and visit other users profiles.
                <small class="main-page__li-meta">
                    Check your profile <a href="{% url 'my-profile' %}">here</a>.
                </small>
            </li>
            <li class="main-page__li">
                {% if request.user.is_authenticated %}
                    Also you can test this app API <a href="{% url 'home' %}api">here</a>.
                {% else %}
                    This app has its own API, so after being registered you can simply use it.
                {% endif %}
            </li>
        </ul>

        <p class="just-a-p">
            This application was created by a junior python developer just as a pet-project
            to show my skill and do an interesting practice. <br><br>
            <a href="https://github.com/progdad/SimpleMail.git" target="_blank">Here</a> is this application source code.
        </p>
    </p>
</div>

{% endblock %}